<div class="jumbotron">
  <div ng-if='pokemon === undefined'>
    <h1>Hello </h1>
    <img src="http://vignette2.wikia.nocookie.net/pokemon/images/8/84/Professor_Oak_XY.png/revision/latest/scale-to-width-down/150?cb=20131221014829" width="20%">
    <div>
      <p>Hi ! I'm profesor Oak ! Choose a pokemon for know more about it</p>
    </div>
  </div>
  <div ng-if='pokemon !== undefined'>
    <h1>{{ pokemon.name }}</h1>
    <img ng-src="{{pokemon.picture}}" width="40%">
    <div ng-repeat="type in pokemon.types">
      <span class="label label-info">{{ type.type.name }}</span>
    </div>
  </div>
</div>

<div class="row marketing">
  <h4>Select a pokemon by number</h4>
  <form ng-submit="getPokemon(pokemon.id)">
    Enter number of pokemon:
    <input type="number" ng-model="pokemon.id" name="text" />
    <input type="submit" id="submit" value="Submit" />
  </form>

  <h4>Select a pokemon by name</h4>
  <p>
    <ui-select ng-model="search.name" theme="bootstrap" on-select="getPokemon(search.name.name)">
        <ui-select-match placeholder="Select or search a pokemon name in the Pokedex...">{{search.name.name}}</ui-select-match>
        <ui-select-choices repeat="pokemon in pokemons.results | filter: $select.search | limitTo: 25">
            {{ pokemon.name }}
        </ui-select-choices>
    </ui-select>
  </p>
</div>
